// Navigation code here

.navBar{
    // border: @main;
    .flexbox();
    
    h1{
        // border: @component;
        .position();
        text-align: center;
        margin:1% auto;
    }

    nav{
        // border: @component;
        .position();
        .flexbox();
        padding:1% 0;
        flex-direction: row;
        justify-content: space-around;

        a{
            // border: @items;
            text-decoration: none;
            color:black;
        }
    }
}